/* import */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Noto+Sans:400,700|Roboto+Condensed:700&subset=cyrillic");


body {
  font-family: "Noto Sans", sans-serif;
  color: #313132;
  font-size: 16px; 
}


#logo-moveo {
  position: relative;
  padding: 0;
  right: 500px;
  z-index: 150;
}

#placeholder {

	position: relative;
  margin-top: 20px;

}




#dr-mes {

  position: relative;
  left: 20%;
}



/*--------------------------------*/
/***** Portfolio Common style *****/
/*--------------------------------*/

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 100%;
  list-style: none;
  text-align: center;
}

.grid h2{
    font-size: 20px;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  background: #dbdfd1;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: auto;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}


.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 400;
  font-size: 2vw;
}

.grid figure h2 span {
  font-weight: 800;
  font-size: 2vw;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


@media only screen and (max-width: 780px) { /* change font-size in adaptive */

   

  .grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 5vw;
  }

  .grid figure h2 span {
    font-weight: 800;
    font-size: 5vw;
  }

  .grid figure h2,
  .grid figure p {
    margin: 0;
  }

  .grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }

}


/* ---------------------------------------------- /*
 * General Styles
/* ---------------------------------------------- */

.pfblock {
  padding: 180px 0 100px;
  background: #dbdfd1;
}

.pfblock-gray {
  background: #dbdfd1;
}

.pfblock-image {
  padding: 0;
}

.calltoaction h1,
.calltoaction h2,
.calltoaction h3,
.calltoaction h4,
.calltoaction h5,
.calltoaction h6,
.pfblock-image,
.pfblock-image h1,
.pfblock-image h2,
.pfblock-image h3,
.pfblock-image h4,
.pfblock-image h5,
.pfblock-image h6 {
  color: #fff;
}

.pfblock-header {
  text-align: center;
  margin: 0 0 10px;
}

.pfblock-header-left {
  text-align: left;
}

.pfblock-header-left .pfblock-line {
  width: inherit;
  margin: 10px 0;
}

.pfblock-title{
    font-weight: 600;
  padding-top: 0;
}

.pfblock-subtitle {
  font-family: "Indi Flower", Roboto, sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 0;
}

.pfblock-line {
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
  margin: 20px auto;
}

.pfblock-icon {
  font-size: 32px;
}
.calltoaction *{
    text-align: center;
}
.calltoaction {
    background: url(../images/item-3.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
  padding: 50px 0;
  color: #999;
}

.calltoaction h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.calltoaction-decription{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

.calltoaction-btn {
  text-align: center;
}

.calltoaction-btn > .btn {
    background: rgba(255, 255, 255, .8);
    color: #111;
  margin-top: 5px;
  margin-bottom: 5px;
}
.calltoaction-btn > .btn:hover{
    background: #fff;
}

.long-down {
  margin-bottom: 40px;
}


#girl {

  position: relative;
  right: 0;
  background-image: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

#circle {

  position: relative;
  width: 196px;
  height: 196px;
  left: 33%;
  top: 40%;
  background: #ffffff;
  -moz-border-radius: 98px;
  -webkit-border-radius: 98px;
  border-radius: 98px;
  box-shadow: 5px 5px 4px #dcddd5;

}

#foots {

  background: #ffffff;
  position: absolute;
  right: 0;
  clear: both;
}