
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Noto+Sans:400,700|Roboto+Condensed:700&subset=cyrillic");


body {
  font-family: "Noto Sans", sans-serif;
  color: #313132;
  font-size: 16px; 
}

.header {

  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 100;
}

#logo-moveo {
  position: relative;
  padding: -10px;
  background-image: url(../images/logo-moveo.png);
  background-repeat: no-repeat;
  background-size: 130px auto;
  z-index: 100;
  left: 50%;


}

#placeholder {

	position: relative;
  margin-top: 20px;
  left: 50%;

}




#dr-mes {

  position: relative;
  left: 10%;
}



/*--------------------------------*/
/***** Portfolio Common style *****/
/*--------------------------------*/
/*
.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 100%;
  list-style: none;
  text-align: center;
}

.grid h2{
    font-size: 20px;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  background: #dbdfd1;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: auto;
  max-width: 100%;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button 
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
}


.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 400;
  font-size: 2vw;
}

.grid figure h2 span {
  font-weight: 800;
  font-size: 2vw;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


@media only screen and (max-width: 780px) { /* change font-size in adaptive 

   

  .grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 5vw;
  }

  .grid figure h2 span {
    font-weight: 800;
    font-size: 5vw;
  }

  .grid figure h2,
  .grid figure p {
    margin: 0;
  }

  .grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }

}
*/

#girl {

  position: relative;
  right: 0;
  background-image: url(../images/girl.png);
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-repeat: no-repeat;
  

}

#circle {

  position: absolute;
  width: 196px;
  height: 196px;
  left: 33%;
  top: 80%;
  background: #ffffff;
  -moz-border-radius: 98px;
  -webkit-border-radius: 98px;
  border-radius: 98px;
  box-shadow: 5px 5px 4px #dcddd5;
  text-align: center;

}

.discount {

  position: absolute;
  margin-top: 50px;
  font-size: 36px;

}

#cont {

  position: relative;
  left: 50%;
  
}


#foots {

  background: rgba(255,255,255,.9);
  position: relative;
  float: right;
  clear: both;
}

#to-girl {
  background: rgba(255,255,255,.8);
  position: relative;
  top: 20%;
  clear: both;
  
}

#pod-miska {
  position: relative;
  background-image: url(../images/pod-mishka1.jpg);
  z-index: 100;
  width: 100%;

}

#girl {

  position: relative;
  right: 0;
  background-image: url(../images/sunbath1.png);
  background-repeat: no-repeat;
  background-size: auto 30%;
  z-index: 10;

}

#arrow {

  position: relative;
}

