
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Noto+Sans:400,700|Roboto+Condensed:700&subset=cyrillic");


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"],
input[type="button"],
input[type="search"],
button {
  -webkit-appearance: none; }

a {
  text-decoration: none;
  outline: 0 !important; }

.clearfix:after {
  clear: both;
  height: 0;
  display: block;
  content: ""; }

.table-block {
  display: table;
  width: 100%;
  height: 100%; }

.block-vertical {
  display: table-cell;
  vertical-align: middle; }

.block-bottom {
  display: table-cell;
  vertical-align: bottom; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: GothamProBold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/GothamProBold/GothamProBold.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProBold/GothamProBold.woff) format("woff"), url(../fonts/GothamProBold/GothamProBold.ttf) format("truetype"); }

@font-face {
  font-family: GothamProLight;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamProLight/GothamProLight.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProLight/GothamProLight.woff) format("woff"), url(../fonts/GothamProLight/GothamProLight.ttf) format("truetype"); }

@font-face {
  font-family: GothamProMedium;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamProMedium/GothamProMedium.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProMedium/GothamProMedium.woff) format("woff"), url(../fonts/GothamProMedium/GothamProMedium.ttf) format("truetype"); }

@font-face {
  font-family: GothamProRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamProRegular/GothamProRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProRegular/GothamProRegular.woff) format("woff"), url(../fonts/GothamProRegular/GothamProRegular.ttf) format("truetype"); }

@font-face {
  font-family: ProximaBold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaBold/ProximaNovaBold.woff) format("woff"), url(../fonts/ProximaNovaBold/ProximaNovaBold.ttf) format("truetype"); }

@font-face {
  font-family: ProximaBlack;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaBlack/ProximaNovaBlack.woff) format("woff"), url(../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf) format("truetype"); }

@font-face {
  font-family: ProximaRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaRegular/ProximaNovaRegular.woff) format("woff"), url(../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf) format("truetype"); }

@font-face {
  font-family: ProximaSemibold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff) format("woff"), url(../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf) format("truetype"); }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  height: auto; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }


body {
  font-family: "Noto Sans", sans-serif;
  color: #313132;
  font-size: 16px; 
}

.navbar-brand {

  margin-left: 15%;
  
}

#logo-moveo {
  position: relative;
  padding: -10px;
  background-image: url(../images/logo-moveo.png);
  background-repeat: repeat;
  background-size: 1000px auto;
  z-index: 100;
  left: 50%;


}

#placeholder {

	position: relative;
  margin-top: 20px;
  left: 50%;

}


#grid {

  display: grid;
  grid-template-columns:
    /* 1 */ auto
    /* 2 */ 1fr;
  grid-template-rows:
    /* 3 */ auto
    /* 4 */ 1fr
    /* 5 */ auto;

}

#dr-mes {

  position: relative;
  left: 10%;
}


#girlsmile {

  position: absolute;
  background-image: url(../images/girl-bg.jpg);
  background-color: rgb(222,225,215);
  background-repeat: no-repeat;
  float: right;
  clear: both;
}


/*background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 80%);*/


#circle {

  position: absolute;
  width: 196px;
  height: 196px;
  left: 33%;
  top: 80%;
  background: #ffffff;
  -moz-border-radius: 98px;
  -webkit-border-radius: 98px;
  border-radius: 98px;
  box-shadow: 5px 5px 4px #dcddd5;
  text-align: center;

}

.discount {

  position: absolute;
  margin-top: 50px;
  font-size: 36px;

}

#cont {

  position: relative;
  left: 50%;
  
}


#foots {

  background: rgba(255,255,255,.9);
  position: relative;
  float: right;
  clear: both;
}

#to-girl {
  background: rgba(255,255,255,.8);
  position: relative;
  top: 40%;
  clear: both;
  
}

#pod-miska {
  position: relative;
  background-image: url(../images/pod-mishka1.jpg);
  z-index: 100;

}

#girl {

  position: relative;
  right: 0;
  background-image: url(../images/sunbath1.png);
  background-repeat: no-repeat;
  background-size: auto 30%;
  z-index: 10;

}

#arrow {

  position: relative;
}

#gridding {

  background-image: url(../images/girl1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  margin: 5px;
}

#gridding img {

  width: 35px;
  height: 35px;
}

#gridding div {

  margin-top: 2em;

}

#girl  {

  grid-column: 1;
  grid-row: 1;
  border: solid 1px;
  margin: 50px;
}
#to-girl    { 
  grid-column: 1;
   grid-row: 3; 
   border: solid 1px;
    margin: 50px;
}
#podmishka    {

  grid-column: 1;
  grid-row: 2;
  align-self: start;
  border: solid 1px;
   margin: 50px;
}


#board    {
 grid-column: 2;
  grid-row: 1 / span 2;
    border: solid 1px;
     margin: 50px;
}


#controls {
 grid-column: 2;
  grid-row: 3; 
  justify-self: center;
   border: solid 1px;
    margin: 50px;
}


@media (orientation: portrait) {
  #grid {
    display: grid;

    /* The rows, columns and areas of the grid are defined visually
     * using the grid-template-areas property.  Each string is a row,
     * and each word an area.  The number of words in a string
     * determines the number of columns. Note the number of words
     * in each string must be identical. */
    grid-template-areas: "title stats"
                         "score stats"
                         "board board"
                         "ctrls ctrls";

    /* The way to size columns and rows can be assigned with the
     * grid-template-columns and grid-template-rows properties. */
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
}

@media (orientation: landscape) {
  #grid {
    display: grid;

    /* Again the template property defines areas of the same name,
     * but this time positioned differently to better suit a
     * landscape orientation. */
    grid-template-areas: "title board"
                         "stats board"
                         "score ctrls";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

/* The grid-area property places a grid item into a named
 * area of the grid. */
#title    { grid-area: title }
#score    { grid-area: score }
#stats    { grid-area: stats }
#board    { grid-area: board }
#controls { grid-area: ctrls }


